[user]
	name = tainzhi
	email = qfq0601@gmail.com
[core]
    editor = vim
    excludesfile = /home/muqing/.linux_configure/.gitignore
[core]
    ui = auto
[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
	d = difftool
[diff]
	tool = vimdiff
[difftool]
	prompt = false
